.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  // overflow: scroll;

  .cart-items {
    height: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    overflow: hidden;
  }
  .cart-items:hover {
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
// ::-webkit-scrollbar {
//   width: 4px;
//   background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, 0.7);
//   border-radius: 20px;
// }
